doctype html
html
  head
    meta(charset='UTF-8')
    title Paymentservice
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      form(method='get', action='/paymentstart')
        .row
          h1 <u>I4.0 Paymentservice</u>
          div
            h2 deine Bestellübersicht für Order-ID #{id}
          div
            table
              tr
                th Zutat
                th
                th Preis
              tr
                td
                  span #{juice}
                td
                td
                  span #{pricejuice}
              tr
                td
                  span #{puree}
                td
                td
                  span #{pricepuree}
              tr
                td
                  span #{pieces}
                td
                td
                  span #{pricepieces}
            hr
          div
            table
              tr
                th Gesamt
                th
                th
                  span #{pricetotal} EUR
          div
            h2 Zahlungsart
            .input-group
              input#payment-method-paypal(type='radio', name='payment-method', value='paypal', checked='true')
              label(for='payment-method-paypal')
                span
                  i.fa.fa-cc-paypal
                  | PayPal
              input#payment-method-card(type='radio', name='payment-method', value='card')
              label(for='payment-method-card')
                span
                  i.fa.fa-cc-visa
                  | Kreditkarte
          div
            .input-group.input-group-icon
              - var orderid = {id}; 
              button(type='hidden' id='test' name='orderid' value=orderid) Bestellung abschließen
